[profile.release]
opt-level = "z"          # small binaries for embedded
lto = true
strip = true
codegen-units = 1

[profile.dev]
opt-level = 1

# ref: https://github.com/LOCNNIL/rust_cross_compilation

# Build with:
# cargo build --release --target=armv7-unknown-linux-gnueabihf
# or
# cargo build --release --target=armv7-unknown-linux-gnueabi

# target config for Embedded Computer with armv7l arch
# rustup target add armv7-unknown-linux-gnueabi
[target.armv7-unknown-linux-gnueabi]
linker = "arm-linux-gnueabi-gcc"
rustflags = ["-C", "target-feature=+crt-static"]

# For LuckFox Pico Ultra W
# Verify with output:
# readelf -A /bin/ls | grep Tag_ABI_VFP_args
# if it shows Tag_ABI_VFP_args: VFP registers, then ifs a hard float target
# rustup target add armv7-unknown-linux-gnueabihf
# sudo apt-get install gcc-arm-linux-gnueabihf
[target.armv7-unknown-linux-gnueabihf]
linker = "arm-linux-gnueabihf-gcc"
rustflags = [
  "-C", "target-feature=+crt-static",
  "-C", "link-arg=-Wl,--as-needed",
  "-C", "link-arg=-Wl,--no-undefined",
  "-C", "link-arg=-Wl,--allow-shlib-undefined",]

# [target.armv7-unknown-linux-gnueabihf.env]
# PKG_CONFIG = "arm-linux-gnueabihf-pkg-config"
# PKG_CONFIG_ALLOW_CROSS = "1"
# PKG_CONFIG_SYSROOT_DIR = "/opt/armhf-sysroot"
# PKG_CONFIG_PATH = "/opt/armhf-sysroot/usr/lib/pkgconfig:/opt/armhf-sysroot/usr/share/pkgconfig"
# PKG_CONFIG_LIBDIR = "/opt/armhf-sysroot/usr/lib/pkgconfig"
