
[profile.release]
opt-level = "z"          # small binaries for embedded
lto = true
strip = true
codegen-units = 1

[profile.dev]
opt-level = 1

[dependencies]
slint = {version = "1.14.1",  default-features = false, features = ["renderer-skia-opengl", "backend-gl-linuxkms"] }

# ref: https://github.com/LOCNNIL/rust_cross_compilation

# Build with:
# cargo build --release --target=armv7-unknown-linux-gnueabihf
# or
# cargo build --release --target=armv7-unknown-linux-gnueabi

# target config for Embedded Computer with armv7l arch
# rustup target add armv7-unknown-linux-gnueabi
[target.armv7-unknown-linux-gnueabi]
linker = "arm-linux-gnueabi-gcc"
rustflags = ["-C", "target-feature=+crt-static"]

# For LuckFox Pico Ultra W
# Verify with output:
# readelf -A /bin/ls | grep Tag_ABI_VFP_args
# if it shows Tag_ABI_VFP_args: VFP registers, then ifs a hard float target
# rustup target add armv7-unknown-linux-gnueabihf
# sudo apt-get install gcc-arm-linux-gnueabihf
[target.armv7-unknown-linux-gnueabihf]
linker = "arm-linux-gnueabihf-gcc"
rustflags = ["-C", "target-feature=+crt-static"]