name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:

env:
  SLINT_NO_QT: "1"

jobs:
  lint-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Show Rust version
        run: rustc -Vv

      - name: Cargo fmt
        run: cargo fmt --all -- --check

      - name: Cargo clippy
        run: cargo clippy --all-targets -- -D warnings

      - name: Cargo test
        run: cargo test

      - name: Install cross
        run: cargo install cross --git https://github.com/cross-rs/cross --locked

      - name: Cross build (armv7 hard float)
        run: cross build --target armv7-unknown-linux-gnueabihf --workspace --exclude slint-node --exclude pyslint --release

      # The armv7 soft float target image does not exist currently
      # - name: Cross build (armv7 soft float)
      #   run: cross build --target armv7-unknown-linux-gnueabi --workspace --exclude slint-node --exclude pyslint --release
